@import './assets/styles/variables.css ';
@import './assets/styles/basic.css';
@import './assets/styles/header.css';
@import './assets/styles/home.css';
@import './assets/styles/about.css';
@import './assets/styles/history.css';