.about {
    background-color: var(--bg-main-grey);
    text-align: center;
    padding: 60px 30px 100px 30px;
}

.abot-title {
    font-size: 35px;
    font-weight: 700;
    color: var(--color-main-black);
    margin: 0 0 42px 0;

}

.about-subtitle-kz,
.about-subtitle-ing {
    font-size: 18px;
    font-weight: 500;
    margin: 0 auto 15px;
    max-width: 780px;

}

.about-description-kz,
.about-description-ing {
    font-size: 18px;
    font-weight: 500;
    margin: 0 auto 15px;
    text-align: justify;
    max-width: 780px;
}


.about-subtitle-ing {
    margin: 15px auto 15px;
}

.about-description-ing {
    margin: 0 auto;
}

@media(max-width :480px) {

    .about-subtitle-kz,
    .about-subtitle-ing,
    .about-description-kz,
    .about-description-ing {
        font-size: 14px;
        font-weight: 500;
       
    }
}