.contact {
    text-align: center;
    background-color: var(--bg-main);
    color: var(--color-main-black);
    padding: 55px 0 63px;

}

.contact-title {
    font-size: 34px;
    font-weight: 700;
}

.contact-button {
    margin: 75px 0 40px;
    width: 211px;
    height: 42px;
    background-color: var(--color-main-black);
    color: var(--bg-main);
    border: none;
    border-radius: 21px;
}

.contact-button:hover {
    opacity: .8;
}

.button-link {
    font-size: 24px;
    font-weight: 500;
}

.socials {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.socials-icon {
    width: 65px;
    height: 65px;
    fill: var(--color-main-blackc);
}

.socials-icon:hover {
    fill: crimson;
}

.contacts-info {
    color: var(--font-color-grey);
    margin: 35px auto 0;
    font-size: 16px;
    font-weight: 500;
    width: 260px;
}

@media(max-width :480px) {
    .socials {
        gap: 20px;
    }
    .socials-icon {
        width: 55px;
        height: 55px; 
    }
    .contacts-info {
        font-size: 14px;
        
    }
}