.history-section {
    text-align: center;
    background-color: var(--bg-main);
    padding: 65px 0 75px 0;
    color: var(--color-main-black);

}

.history-title {
    font-size: 35px;
    font-weight: 700;
}

.history-photo {
    width: 100%;
    max-width: 950px;
    height: 655px;
    object-fit: cover;
    margin: 60px 0 0 0;
}

.history-description {
    margin: 30px 0 0 0;
    font-size: 18px;
    font-weight: 500;
}

@media(max-width :480px) {
    .history-section {
     padding: 50px 0 75px 0;

    }
    .history-photo {
        height: 480px;
    }

    .history-description {
        font-size: 14px;
    }

    
}